*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family:  sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;  
    position: sticky;
    top: 0;
}

.navbar-logo{
    font-size: 1.5rem;
    color: white;
}

.navbar-logo a{
    text-decoration: none;
    color: white;
    
}

.navbar-logo a:hover{
    color: skyblue;
}


.navbar-links{
    display: flex;
    list-style: none;
}

.navbar-links li{
    margin: 0 1rem;
}

.navbar-links li:hover{
    scale: 1.1;
}

.navbar-links a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar-links li a:hover{
    color: skyblue;
}


.menu{
    display: flex;
    flex-direction: column;
}

.menu-item{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    width: 25px;
    height: 3px;
    margin: 2px 0;
    background-color: white;
    display: none; 
}
 
@media  (max-width: 768px) {
    .navbar-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .navbar-links.active{
        display: flex;
    }

    .menu-item{
        display: block;
    }
}